
header{
    width: 100%;
    display: flex;
    flex-direction: column; /*paraq no esten de lado*/
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 101, 101, 0.502);
        padding: 20px;
    border-radius: 30px;
    margin: 10px;
}
header h1,h2{
    text-align: center;
}
header nav ul{
    display: flex;
}
header ul li{
    list-style: none;
    font-weight: 950;
    display: inline; 
    margin: 0 15px; 
}
header nav ul li a{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-left: 20px;
    text-decoration: none;
}
nav ul li{
    font-size: 20px;
}
 nav ul li a:hover{ /*Color de cuando presionen*/
                color: rgb(248, 77, 77);
            }
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-color: rgb(255, 101, 101);*/
  background-image: url(img/fondo2.jpg);
  background-attachment: fixed; /*img fija*/
  /*-size: cover; q abarque rodo*/
}
article #inicio{
    margin: 30px;
    
}

section{
    background-color: rgb(254, 245, 245);
    padding: 80px;
    margin: 120px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(219, 219, 219);
    /*ajustes paraq la imagen este d lado del texto*/
    display: flex;
    align-items: center;
    gap:20px;
}
section img{
    max-width: 300px; /* que no se haga gigante */
  border-radius: 10px;
}
section h2,h3{
    color: rgb(255, 106, 106);
}
section ul img{
    display: inline;
}
section:hover{
    transform: translateX(30px);
    box-shadow: 0 0 50px rgb(255, 164, 164) ;
}
button{
    background-color: rgb(255, 106, 106);
    border-radius: 20px;
    margin: 10px;
    color: rgb(255, 255, 255);
    border-color:rgb(255, 106, 106);
}
footer{
    background-color: rgb(245, 222, 222);
    padding: 30px;
    text-align:center;
}
#boton{
    color: white;
    text-align: right;
    border-radius: 50px;
    background-color: rgb(255, 128, 128);
    padding: 8px;
}
